@font-face {
    font-family: font1;
    src: url(../fonts/light.otf);
}
@font-face {
    font-family: talariafont;
    src: url(../fonts/talaria.ttf);
}

body{
  margin: 0;
  padding: 0;
  background-color: #f9f6ef;
}

#nav-bar{
    vertical-align: center;
    position: fixed;
    width: 100%;
    font-size: 14px;
    line-height: 48px;
    height: 48px;
    color: #ffffff;
    font-family: font1;
    // set animation
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 1;
}

#nav-bar.sticky {
    position: fixed;
    font-size: 14px;
    line-height: 48px;
    height: 48px;
    width: 100%;
    background: #e8d9bc;
}
#nav-bar ul{
  list-style-position: inside;
  width: auto;
  padding: 0;
}
#nav-bar #links{
  float: left;
  margin-left: 30%;
}
#nav-bar #talaria-logo{
  float: left;
  font-size: 30px;
  font-family: talariafont;
  margin-left: 10px;
  margin-top: 3px;
  line-height: 48px;
  height: 48px;
  vertical-align: center;
}
#nav-bar #links ul li{
  display: inline-block;
  margin-right: 20px;
  padding-left: 0;
}
#nav-bar #account{
  float: right;
}
#nav-bar #account ul li{
  display: inline-block;
  margin-right: 20px;
  padding-left: 0;
}
#nav-bar ul li a, #nav-bar ul li a:visited{
  color: #ffffff;
  text-decoration: none;
}

#nav-bar ul li a:hover{
  color: #ddc9a3;
}

#nav-bar div{
  display: inline-block;
}
#nav-bar #links div{
  display: inline-block;
  height: auto;
  width: 150px;
  background-size: cover;
  background-image: url(../images/talariatext.png);
}

.footer{
  width: 100%;
  height: 100px;
  background-color: #3b3833;
  /*position: absolute;*/
  bottom: 0;
}

.wrapper{
  max-width: 70%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-top: 50px;
}
.img-prev{
  height: 100px;
  width: 100px;
  background-size: cover;
  border: 3px solid #e8d9bc;
}

.edit{
  color: #ddc9a3;
}
.edit:hover{
  cursor: pointer;
  font-style: italic;
}

.delete{
  color: #ddc9a3;
}
.delete:hover{
  cursor: pointer;
  font-style: italic;
}
.wrapper a, .wrapper a:hover, .wrapper a:visited{
    text-decoration: none;
    color: #ddc9a3;
}
.wrapper{
  height: 100%;
}
